body{
    margin:0;
    font-family:Arial,sans-serif;
    background-color:lightslategray;
    
}
.navbar{
    background-color:#333;
    padding:15px;
}
.navbar a{
    color:white;
    text-decoration:none;
    margin:0 15px;
    font-size:18px;
}
h1{
    color:blue;
    text-align:center;
}

footer {
    background-color:aqua;
    color: black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
    color:#f4f4f4;
    font-size: 20px;
}
.p{
    text-align:center;
}
.skill-box{
display:flex;
justify-content:center;
}
.skill{
    background-color :#d85757;
    padding:15px;
    margin:15px auto;
    width:500px;
    border-radius:6px;
    border:2px solid black;
    color:white;
    text-align:center;
}
.container {
    display: block;
    padding: 40px;
    text-align: center;
    border:  2px solid dashed grey;
      background-color: rgba(226, 226, 226, 0.614);
            height:400px;
            width: 70%;
            margin: 50px auto;   /* center horizontally */
            border-radius: 10px;
            box-shadow: 0px 5px 15px gray;
}
.form {
    display: block;
    margin:auto;
    background-color: rgb(195, 173, 173);
    border:black 2px solid;
    font-size: 30px;
}
.box{
            box-shadow:5px 5px 6px rgb(0, 0, 0);
            margin-top:40px;
            margin-left:30px;
            height:450px;
            width:60%;
            background-color:rgba(108, 108, 108, 0.85);
            color:rgb(16, 15, 15);
            border-radius:15px;

        }
        .box:hover{
            color:aliceblue
        }
        .content{
            font-size:20px;
            padding:20px;
             text-align:left;
             padding:50px;
        background-color:white;
         margin:20px;
        color:rgb(180, 67, 180);

        }
        .content h2{
            font-size:32px;
            margin-bottom:20px;
        }
        .main{
            display: flex;
            align-items: center;
            gap: 120px;
            margin:10px;
        }
        .profile img{
            height: 300px;
            width: 300px;
            border-radius:50%;
            border: 3px solid black;
            
        }


